
/* start Media queries */
@media screen  and  (max-width: 1200px)
{
    .parent-activities-Marseille
    {
        width: 100%;
    }
}
@media screen  and  (max-width: 1128px)
{
    .section-filters
    {
        flex-wrap: wrap;
    }
    .parent-section-most-popular-accommodation
    {
        flex-direction: column-reverse;
        align-items: center;
    }
    .child-accommodation
    {
        justify-content: center;
        margin: 0 15px 20px 15px;
    }
    .card
    {
        width: 40%;
    }
    .show-more
    {
        padding-left: 40px;
    }
    .parent-most-popular
    {
        margin-bottom: 30px;
        width: 80%;
    }
    .card-popular
    {
        width: 90%;
    }
    .popular_img
    {
        width: 220px;
    }
     /*start section activities-in-Marseille*/
     .parent-activities-section-in-Marseille
     {
         justify-content: center;
     }
     .parent-activities-Marseille
     {
        align-items: center;
     }
     .title-activities-in-Marseille
     {
         display: flex;
        align-self: flex-start;
        margin-left: 87px;
     }
     .child-activities-Marseille
     {
         flex-direction: column;
         align-items: center;
         width: 60%;
         margin-top: -60px;
     }
     .card-activities
     {
         display: flex;
         flex-direction: column-reverse;
     }
     .card-activity-1-4
     {
        margin: 15px;
     }
     .img-activities
     {
         height: 120px;
     }
     .img-activities-1-4
     {
         display: flex;
         flex-direction: column;
     }
     .card-activity-2-4 
     {
         order: -1;
     }
     .text-card-activities
     {
         width: 98%;
     }
     .link_footer
     {
         margin-left: -7px;
     }
     /*end section activities-in-Marseille*/
}
/* start Media queries mobile*/
@media screen and (max-width: 650px)

{
    /*start HEADER*/
    .container-header
    {
       margin-top: 10px;
    }
    .title_description
    {
        line-height: 1.5em;
        margin-top: 50px;
    }
    p 
    {
        margin-top:-10px;
    }
    nav 
    {
       display: flex;
       position: absolute;
    }
    .container_menu
    {
        
        width: 50%;
        padding-top: 40px;
        padding-inline-start: 0; 
    }
    .menu-item
    {
        padding: 7px;
        width: 50%;
        text-align: center;
        
    }
    .menu-item-signup
    {
        margin: -40px 0 0 -70px;
    }
    .a-href-menu
    {
        border-bottom: 3px solid lightgrey;
        border-top: transparent;
    }
    .a-href-menu:hover
    {
        border-bottom: 3px solid #0065FC;
    }
    .a-href-activities
    {
        
    }
    .a-href-activities:hover
    { 
        border-bottom: 3px solid #0065FC;
        border-top: transparent; 
    }
    .a-href-signup
    {
        border-top: none;
        border-bottom: none;
    }
    /*end HEADER*/
    /* start section search+filters*/
    .section-search
    { 
        margin: -19px 13px -17px;
    }
    .research
    {
        margin: 0 3px 0;
        padding: 5px;
    }
    .text-research
    {
        display: none;
    }
    .fa-search
    {
        visibility: visible;
    }
    .section-filters
    {
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .title-filters
    {
        font-size: large;
        display: inline-block;
        margin-top: -30px;    
    }
    .filter-2
    {
        margin-left: -65px;
    }
    .info
    {
        padding: 30px;
    }
    .info i 
    {
        padding: 5%;
        width: 4%;
    }
    /* end section search+filters*/
    /*start section parent-hebergement_the-most-popular*/
    .parent-section-most-popular-accommodation
    {
        flex-direction: column-reverse;
    }
    .parent-Accommodation-Marseille
    {
        width: 100%;
        border-radius: revert;
        background-color: white;
    }
    .title-Accommodation
    {
        font-size: 0.9em;
        padding: 8px;
    }
    .child-accommodation
    {
        margin-top: -32px;
    }
    .card
    {
        width: 100%;
    }
    .text_card_accommodation
    {
        line-height: 11px;
    }
    .show-more
    {
        font-size: large;
    }
    .parent-most-popular
    {
        width: 100%;
        margin: auto;
        padding: 15px;
        border-radius: revert;
    }
    .most-popular-title
    {
        margin-left: 0px;
        font-size: medium;
    }
    .child-popular
    {
        margin-top: -19px;
    }
    .card-popular
    {
        width: 93%;
    }
    .popular_img
    {
        width: 40%;
    }
    .fa-chart-line
    {
        font-size: x-large;
    }
    /*end section parent-hebergement_the-most-popular*/
    /*start section activities-in-Marseille*/
    .title-activities-in-Marseille
    {
        margin-left: -7px;
    }
    .child-activities-Marseille
    {
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .card-activity-1-4
    {
       margin: 10px 0;
    }
    .img-activities
    {
        height: 120px;

    }
    .img-activities-1-4
    {
       
    }
    .card-activity-2-4 
    {
        
    }
    /*end section activities-in-Marseille*/
    /*start section footer*/
    #footer
    {
       flex-direction: column;
       margin-right: -30px;
    }
    .container-footer
    {
        flex-direction: column;
    }
    .card-footer
    {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .title-footer
    {
        padding-left: 38px;
    }
    .link_footer
    {
        padding-left: 93px;
    }
    /*end section footer*/     
}
