
/* start Media queries */
@media screen  and  (max-width: 1200px)
{
    .card
    {
        width: 46%;
    }
}
@media screen  and  (max-width: 1100px)
{
    .parent-section-most-popular-accommodation
    {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 650px)

{
    .container-header
    {
        display: none;
    }
    .title_description
    {
        line-height: 1.5em;
    }
    p 
    {
        margin-top:-10px;
    }
    /* start section search+filters*/
    .section-search
    { 
        margin: -19px 13px -17px;
    }
    .research
    {
        
    }
    .section-filters
    {
        flex-direction: column;
    }
    .title-filters
    {
        margin-left: -73%;
        font-size: large;
    }
    /* end section search+filters*/
    /*start section parent-hebergement_the-most-popular*/
    .parent-section-most-popular-accommodation
    {
        flex-direction: column-reverse;
    }
    .parent-Accommodation-Marseille
    {
        width: 100%;
        border-radius: revert;
        background-color: white;
    }
    .title-Accommodation
    {
        font-size: 0.9em;
        padding: 8px;
    }
    .child-accommodation
    {
        margin-top: -32px;
    }
    .card
    {
        width: 100%;
    }
    .img-accommodation
    {
        width: 310px;
    }
    .text_card_accommodation
    {
        line-height: 11px;
    }
    .show-more
    {
        font-size: large;
    }
    .parent-most-popular
    {
        width: 100%;
        margin-left: 0;
        border-radius: revert;
    }
    .most-popular-title
    {
        margin-left: 0px;
        font-size: medium;
    }
    .child-popular
    {
        margin-top: -19px;
    }
    .fa-chart-line
    {
        font-size: x-large;
    }
    /*end section parent-hebergement_the-most-popular*/
    /*start section activities-in-Marseille*/
    .parent-activities-section-in-Marseille
    {
        width: 100%;
    }
    .title-activities-in-Marseille
    {
        margin: 10px 18px;
    }
    .child-activities-Marseille
    {
        flex-direction: column;
    }
    .card-activities-1-4
    {
        width: 100%;
        margin-left: -1%;
    }
    .img-activities-1-4
    {
        width: 350px;
        height: 150px;
    }
    .card-activity-2-4 
    {
        width: 100%;
        margin-left: -1%;
    }
    /*end section activities-in-Marseille*/
    /*start section footer*/
    #footer
    {
       flex-direction: column;
    }
    .container-footer
    {
        flex-direction: column;
    }
    .card-footer
    {
        flex-direction: column;
        width: 100%;
    }
    .link_footer
    {
        
    }
    /*end section footer*/
       
}