
body
{
    margin: 0px;
    padding: 0px; 
    font-family: 'Raleway', sans-serif; 
}
/* HEADER */
.container-header
{
    display: flex;
    justify-content: space-around;
}
.container-inner-content-header
{
    max-width: 800px;
    width: 100%;
}
.topbar
{ 
    background-color: rgb(134, 57, 57);
    display: flex;
    justify-content: space-between;
    padding: 30px; 
    margin-right: 50px; 
}
.logo 
{
       
}
.container_menu
{
   display: flex;
   list-style-type: none;
    
}
.menu-item
{
    padding-left: 10px;
    margin-left: 20px;
    
}
#hébergements-ancre
{

}
#activités-ancre
{

}
.titre_description
{
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    
}
h1
{
    font-size: 1.1em;
    font-weight: bold;
}
p
{
    font-size: small;
    margin-top: auto;
}
/* END HEADER */
/*section-container*/
.container-content
{
    display: flex;
    justify-content: space-around;
}
.container-inner-content
{
    max-width: 800px;
    width: 100%;
}
/*section search+filters*/
.section-search
{
    background-color: rgb(57, 134, 61);
    display: flex;
    padding: 20px;
    
}
.section-filters
{
    background-color: rgb(68, 105, 68);
    display: flex;
    padding: 20px;
}
.title-filters
{
    display: flex;
}
/*end section search+filters*/
/*info 500 logements*/
.info
{
    display: flex;
}
/*end info 500 logements*/
/*section Hébergements à Marseille_Les plus populaires*/
/* Hébergements à Marseille*/
.section-parent-hebergement_les-plus-populaires
{
    display: flex;
}
.Parent-Hébergement-Marseille
{
    background-color: rgb(72, 58, 146);
    width: 75%;
    
}
.titre-Hébergement
{
    margin: 10px;
    padding: 10px;
}
.enfant-hébergement
{
   background-color: red;
   display: flex;
   flex-wrap: wrap;

}
.card
{
    background-color: salmon;
    margin: 10px;
    padding: 10px;
    width: 25%;
}
/* end Hébergements à Marseille*/
/* Les plus populaires*/
.parent-les-plus-populaires
{
    background-color: royalblue;
    width: 25%;
}
.titre-les-plus-populaires
{  
    display: flex;
    justify-content: space-between;
}
.enfant-populaires
{
    background-color: sandybrown;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.card_populaires
{
    background-color: salmon;
    margin: 10px;
    padding: 20px;
    width: 50%;
}
/* end Les plus populaires*/
/* Activités à Marseille*/
.section-parent-activités-à-Marseille
{
    display: flex;
}
.parent-activités-Marseille
{
    background-color: rgb(202, 164, 58);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
}
.titre-activités-à-Marseille
{
    margin: 10px;
    padding: 10px;
}
.enfant-activités-Marseille
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: darkgreen;
    
}
.card-activités
{
    
    background-color: rgb(28, 129, 133);
    margin: 10px;
    padding: 20px;
    width: 20%;    
}
/* end  Activités à Marseille*/
/*footer*/
#footer
{
    display: flex;
    justify-content: space-around;
    background-color: rgb(53, 151, 190);    
}
.container-footer
{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
}

.card-footer
{
    background-color: rgb(167, 83, 74);
    margin: 10px;
    padding: 10px;
    width: 10%;
}