
body
{
    margin: 0px;
    padding: 0px; 
    font-family: 'Raleway', sans-serif; 
}
/* HEADER */
.topbar
{ 
    
    background-color: rgb(134, 57, 57);
    display: flex;
    justify-content: space-between;
    padding: 10px;   
}
.logo 
{
       
}
.container_menu
{
   display: flex;
   list-style-type: none;
    
}
.menu-item
{
    padding-left: 10px;
}
.titre_description
{
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    
}
/* END HEADER */
/*section search+filters*/
.section-search
{
    background-color: rgb(57, 134, 61);
    display: flex;
    padding: 20px;
    
}
.section-filters
{
    background-color: rgb(68, 105, 68);
    display: flex;
    padding: 20px;
}
.title-filters
{
    display: flex;
}
/*end section search+filters*/
/*info 500 logements*/
.info
{
    display: flex;
}
/*end info 500 logements*/
/*section Hébergements à Marseille_Les plus populaires*/
/* Hébergements à Marseille*/
.section-parent-hebergement_les-plus-populaires
{
    display: flex;
}
.Parent-Hébergement-Marseille
{
    background-color: rgb(72, 58, 146);
    width: 75%;
    
}
.titre-Hébergement
{
    margin: 10px;
    padding: 10px;
}
.enfant-hébergement
{
   background-color: red;
   display: flex;
   flex-wrap: wrap;

}
.card
{
    background-color: salmon;
    margin: 10px;
    padding: 10px;
    width: 25%;
}
/* end Hébergements à Marseille*/
/* Les plus populaires*/
.parent-les-plus-populaires
{
    background-color: royalblue;
    width: 25%;
}
.titre-les-plus-populaires
{  
    display: flex;
    justify-content: space-between;
}
.enfant-populaires
{
    background-color: sandybrown;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.card_populaires
{
    background-color: salmon;
    margin: 10px;
    padding: 20px;
    width: 50%;
}
/* end Les plus populaires*/
/* Activités à Marseille*/
.section-parent-activités-à-Marseille
{
    display: flex;
    background-color: hotpink;
    
}
.parent-activités-Marseille
{
    background-color: rgb(202, 164, 58);
    width: 100%;
    margin: 10px;
}
.titre-activités-à-Marseille
{
    margin: 10px;
    padding: 10px;
}
.enfant-activités-Marseille
{

}
.card-activités
{
    
}
/* end  Activités à Marseille*/



