body
{
    margin: 0px;
    padding: 0px; 
    font-family: "Raleway", "Sans-serif"; 
}
/* HEADER */
.container-header
{
    display: flex;
    justify-content: space-around;
}
.container-inner-content-header
{
    max-width: 1200px;
    width: 100%;
}
.topbar
{ 
    /*background-color: rgb(134, 57, 57);*/
    display: flex;
    justify-content: space-between; 
    padding: 30px;  
    padding-bottom: 5px;
    padding-top: 1px; 
}
.logo 
{
    margin: 0;
    padding: 0;
}
.container_menu
{
   display: flex;
   list-style-type: none;
    
}
.menu-item
{
    padding-left: 10px;
    margin-left: 20px;   
}
.a-href-accommodation
{
    text-decoration: none;
    color: #0065FC;
    border-top: 3px solid #0065FC;
    animation-name: navhover;
    animation-duration: 0.3s;
    padding: 15px;  
}
.a-href-activities
{
    text-decoration: none;
    color: black;
    
}
.a-href-activities:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    animation-name: navhover;
    animation-duration: 0.3s;
    padding-top: 15px; 
}
.a-href-signup
{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}
.a-href-signup:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    animation-name: navhover;
    animation-duration: 0.3s;
    padding-top: 15px; 
}
.title_description
{
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    margin-left: 20px;
    line-height: 0.8em;
    font-size: 1.30em;    
}
h1
{
    font-size: 1.1em;
    font-weight: bold;
}
p
{
    font-size: small;
    margin-top: auto;
    margin-left: 3px;
}
/* END HEADER */
/*section-container*/
.container-content
{
    display: flex;
    justify-content: space-around;
}
.container-inner-content
{
    max-width: 1200px;
    width: 100%;
}
/*section search+filters*/
.section-search
{
   
    /*background-color: rgb(57, 134, 61);*/
    display: flex;
    padding: 20px;
    
}
.map-marker
{
    background-color: #F2F2F2;
    padding: 12px;
    border:10px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}
.search
{
    border: none;
    padding-left: 5px;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    font-weight: bold;
}
.research
{
    padding: 10px;
    border: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    color: white;
    background-color: #0065FC;

}
.section-filters
{
    display: flex;
    padding: 20px;
    font-weight: bold;
}
.title-filters
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 10px;
    padding: 5px;
}
.filter
{
    border: 1px solid #cacaca;
    border-radius: 50px;
    padding: 0;
    padding-right: 15px;   
    margin: 10px; 
}
.filter:hover
{
    background-color: #b6d1fa;
    animation-name: filterhover;
    animation-duration: 0.1s;  
}
.icon-filter
{
    background-color:#DEEBFF;
    color: blue;
    padding: 10px;
    display:inline-block;
    border-radius: 50%;
    
}
.icon-filter .fa-child
{
    padding: 2px 4px;
}

/*end section search+filters*/
/*info 500 logements*/
.info
{
    display: flex;
    padding: 20px; 
}
.info i
{
   border: 1px solid #cacaca;
   padding: 7px;
   width: 12px;
   margin-right: 15px;
   margin-bottom: 5px;
   font-size: 11px;
   border-radius: 50%;
   text-align: center;
   color: #0065fc;
}
.info-text
{
    font-size: 13px;
    margin-top: 5px;
}
/*.fa-info-circle
{
    background-color: white;
    margin: 10px;   
}*/
/*end info 500 logements*/
/*section Hébergements à Marseille_Les plus populaires*/
/* Hébergements à Marseille*/
.parent-section-most-popular-accommodation
{
    display: flex;
    
}
.parent-Accommodation-Marseille
{
    background-color :#F2F2F2;
    border-radius: 15px;
    width: 80%;    
}
.title-Accommodation
{
    margin: 10px;
    padding: 20px;
    font-weight: bold;
}
.child-accommodation
{
   /*background-color: red;*/
   display: flex;
   flex-wrap: wrap;
   margin-left: 15px;
   margin-right: 15px;
}
.card
{
    background-color: #ffffff;
    margin: 12px;
    margin-right: 10px;
    padding: 5px;
    width: 30%;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    /*border: solid #5B6DCD 5px;*/
    
}
.card:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card a
{
    text-decoration: none;
    color: black;
}
.img-accommodation
{
    max-width: 100%;
    width: 250px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text_card_accommodation
{
    line-height: 0px;
    padding: 0px;
    margin: -6px;
    margin-left: 5px;
    font-size: 15px;
    
}
.h4-accommodation
{
    font-weight: bold;
    font-size: small;
    padding-left: 1%;
}
b
{
    font-weight: bold;
}
.star
{
    display: inline-flex;
    color: blue;
    padding: 2px;
    margin: 2px;
    margin-top: 5px;
    font-size: small;
}
.star-grey
{
    display: inline-flex;
    color: #d9d9d9;
    font-size: small;
}
.show-more
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 25px;
    padding-left: 20px;
}
/* end Hébergements à Marseille*/
/* Les plus populaires*/
.parent-most-popular
{
    background-color: #F2F2F2;
    width: 44%;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0ex;
    border-radius: 15px;
    
    
}
.most-popular-title
{  
    display: flex;
    margin-left: 30px;
    margin-right: 20px;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
}
.fa-chart-line
{
    margin-top: 26px;
}
.child-popular
{
    /* background-color: sandybrown; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.card_popular
{
    background-color: white;
    margin: 10px;
    padding: 4px;
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 87%;
    border-radius: 10px;
}
.card_popular:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card_popular a
{
    text-decoration: none;
    color: black;
    display: flex;
    margin-left: -20px;
}
.popular_img
{
    max-width: 100%;
    width: 129px;
    height: 138px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}
.text_card_popular
{
    padding: 0px;
    margin: 3px;
    margin-left: 20px;
    margin-top: -15px;
    
}
.h4-popular
{
    font-weight: bold;
}
.star-popular
{
    display: inline-flex;
    color: blue;
    padding: 2px;
    margin: 2px;
    margin-top: 25px;
    margin-left: 20px;
    font-size: small;
}
.star-grey-popular
{
    display: inline-flex;
    color: #d9d9d9;
    margin-left: -8px;
    font-size: small;
}
/* end Les plus populaires*/
/* Activités à Marseille*/
.parent-activities-section-in-Marseille
{
    display: flex;
}
.parent-activities-Marseille
{
    /*background-color: rgb(202, 164, 58);*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
}
.title-activities-in-Marseille
{
    margin: 10px;
    padding: 20px;
    font-weight: bold;
}
.child-activities-Marseille
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /*background-color: darkgreen;*/
    
}
/*start css card activité 1 et 3*/
.card-activities-1-4
{
    /*background-color: rgb(28, 129, 133);*/
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 110px;
    width: 20%;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    transition-duration: 0.1s;   
}
.href-activities
{
    text-decoration: none;
}
.img-activities-1-4
{
    max-width: 100%;
    width: 100%;
    height: 323px;
    object-fit: cover;
}
.text-card-activities-1-4
{
    color: black;
    font-size: smaller;
    font-weight: bold;
    margin: 0px;
    padding: 12px;
    margin-left: 0px;
    margin-bottom: 5px;
    white-space: nowrap;
}
/*end css card activité 1 et 3*/
/*start css card activité 2 et 4*/
.card-activity-2-4 
{
    /*background-color: rgb(28, 129, 133);*/
    margin: 10px;
    padding: 20px;
    width: 20%;  
      
}
.img-activity-2-5
{
    width: 100%;
    height: 155px;
    margin: 0px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}
.img-activity-3-6
{
    width: 100%;
    height: 95px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -30px;
}
.text-card-activity-2-5
{
    color: black;
    margin-left: 5px;
    margin: -3px -1px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 11px;
    font-size: smaller;
    width: 96%;
    box-shadow: 0 0 20px #0000002e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition-duration: 0.1s;
}
.text-card-activity-3-6
{
    display: inline-flex;
    color: black;
    margin-left: 5px;
    margin: -31px;
    padding-top: 40px;
    padding-bottom: 16px;
    padding-left: 11px;
    font-size: smaller;
    width: 100%;
    box-shadow: 0 0 20px #0000002e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition-duration: 0.1s;
}
/*end css card activité 2 et 4*/
/* end  Activités à Marseille*/
/*footer*/
#footer
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;    
}
.container-footer
{
    /*background-color: chartreuse;*/
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.card-footer
{
    /*background-color: rgb(167, 83, 74);*/
    margin: 10px;
    padding: 10px;
    width: 30%;
    padding: 30px;
}
.title-footer
{
    font-weight: bold;
}
.link_footer
{
    display: block;
    list-style-type: none;
}
.href-footer
{
    text-decoration: none;
    color: black;
    margin-left: -15%;
    line-height: 2;
    font-size: medium;
}